html {
    font-size: 14px;
}

body {
    font-family: "Arial", sans-serif;
}

.container-fluid {
    margin-top: 5.25rem;
}

/* Heading and Instructions*/

div h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

div h6 {
    font-weight: bold;
}


/* Matching Card Design */

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    border-radius: 8px;
    background-color: rgb(32, 64, 86);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 900;
    font-size: 7rem;
    height: 12.5rem;
}